{% extends "sb2/base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">签证进度查询</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">签证进度查询</h6>
            </div>
            {{ obj.id }}<br>
            {{ obj.last_name }} - {{ obj.first_name }}<br>
            {{ obj.get_state_display }}<br>
            {{ obj.passport_number }}<br>
            <a href="{{ obj.pay_addr }}" target="_blank">{{ obj.pay_addr }}</a><br>
        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block js %}
{% endblock %}