{% extends "sb2/base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->

    <style>
         .see{
            margin:60px 30px ; text-align: center
        }
        .btn_login {
            display: inline-block;
            overflow: visible;
            vertical-align: middle;
            text-align: center;
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-width: 1px;
            border-style: solid;
            cursor: pointer;
            background-color: #44b549;
            background-image: -moz-linear-gradient(top,#44b549 0,#44b549 100%);
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#44b549),to(#44b549));
            background-image: -webkit-linear-gradient(top,#44b549 0,#44b549 100%);
            background-image: -o-linear-gradient(top,#44b549 0,#44b549 100%);
            background-image: linear-gradient(to bottom,#44b549 0,#44b549 100%);
            border-color: #44b549;
            color: #fff;
            height: 33px;
            line-height: 33px;
            *line-height: 31px;
            width: 120px;
            padding-left: 0;
            padding-right: 0;
        }
    </style>






    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">签证进度查询</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">签证进度查询</h6>
            </div>

            <div class="see">
                <p>{{ obj.last_name }} - {{ obj.first_name }}</p>
                <p>金额</p>
                <p><button type="submit" value="去付款" class="btn_login">去付款</button></p>
            </div>



{#    <table cellpadding="0" cellspacing="0" border="0">#}
{#    #}
{#        <tr>#}
{#            <td>{{ obj.id }}</td>#}
{#            <td>{{ obj.last_name }} - {{ obj.first_name }}</th>#}
{#            <td>{{ obj.get_state_display }}</th>#}
{#            <td>{{ obj.passport_number }}</th>#}
{#            <td> <a href="{{ obj.pay_addr }}" target="_blank">{{ obj.pay_addr }}</a></td>#}
{#        </tr>#}
{#    </table>#}


        </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block js %}
{% endblock %}