{% extends "sb2/base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">签证进度查询</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">签证进度查询</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>签证国家</th>
                            <th>护照号码</th>
                            <th>电话</th>
                            <th>邮箱</th>
                            <th>申请方式</th>
                            <th>进度</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>姓名</th>
                            <th>签证国家</th>
                            <th>护照号码</th>
                            <th>电话</th>
                            <th>邮箱</th>
                            <th>申请方式</th>
                            <th>进度</th>
                        </tr>
                        </tfoot>
                        {% for i in obj %}
                            <tr>

                                <td>{{ i.last_name }} - {{ i.first_name }}</td>
                                <td>上海</td>
                                <td>{{ i.passport_number }}</td>
                                <td>86+ 236987125</td>
                                <td>565454@qq.com</td>
                                <td>小程序</td>
                                <td class="march">
                                    <a href="/pay/?id={{ i.id }}">
                                        {{ i.get_state_display }}
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}

                        <tr>
                            <td>孙钦</td>
                            <td>上海</td>
                            <td>G569874123</td>
                            <td>86+ 236987125</td>
                            <td>565454@qq.com</td>
                            <td>小程序</td>
                            <td class="march">进行中</td>
                        </tr>
                        <tr>
                            <td>骆杰</td>
                            <td>浙江</td>
                            <td>G569123123</td>
                            <td>86+ 968741256</td>
                            <td>luojie@foxmail.com</td>
                            <td>门店办理</td>
                            <td class="finish">已完成</td>
                        </tr>
                        <tr>
                            <td>刘璐</td>
                            <td>新疆</td>
                            <td>S965412369</td>
                            <td>86+ 18563978412</td>
                            <td>ll@qq.com</td>
                            <td>门店办理</td>
                            <td class="march">进行中</td>
                        </tr>
                        <tr>
                            <td>岳娟</td>
                            <td>山东</td>
                            <td>G03722653</td>
                            <td>86+ 18534638412</td>
                            <td>yuejuan9@qq.com</td>
                            <td>小程序</td>
                            <td>待支付</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block js %}
{% endblock %}