{% extends "sb2/base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <style>
        .table-responsive {
            overflow-x: hidden;
            width: 80%;
        }

        .table-responsive {
            margin: 0 auto;
        }
    </style>

    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">批量购票</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {#                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            </div>

            <div style="background: #f6f6f6; width: 100%; padding:30px; border-bottom: 1px solid #ccc;">
                <div class="row col-center">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <label for="upload" class="btn btn-success btn-lg btn-block">上传</label>
                        <input id="upload" style="display: none" type="file" class="btn btn-success btn-lg btn-block" onchange="alert('chenge')">
{#                        <button class="btn btn-success btn-lg btn-block">上传</button>#}
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <button class="btn btn-success btn-lg btn-block">开始购票</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        支持文件类型：xls、xlsx ，文件内容请按照格式填写，文件格式请见<a href="#">示例</a>。
                    </div>
                </div>

            </div>


            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4" style="margin: 0 auto;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                       cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                       style="width: 100%;">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Name: activate to sort column descending" style="width: 120px;">
                                            姓名
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width: 120px;">出发地
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Office: activate to sort column ascending"
                                            style="width: 120px;">到达地
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Age: activate to sort column ascending"
                                            style="width: 55px;">日期
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Age: activate to sort column ascending"
                                            style="width: 55px;">车次
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Start date: activate to sort column ascending"
                                            style="width: 114px;">出票状态
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Start date: activate to sort column ascending"
                                            style="width: 114px;">座位类型
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Salary: activate to sort column ascending"
                                            style="width: 104px;">票价（元）
                                        </th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <!--
                                    <tr>
                                        <th rowspan="1" colspan="1">姓名</th>
                                        <th rowspan="1" colspan="1">出发地</th>
                                        <th rowspan="1" colspan="1">到达地</th>
                                        <th rowspan="1" colspan="1">日期</th>
                                        <th rowspan="1" colspan="1">出票状态</th>
                                        <th rowspan="1" colspan="1">Salary</th>
                                    </tr>
                                    -->
                                    </tfoot>
                                    <tbody>


                                    <tr role="row">
                                        <td class="sorting_1">于学忠</td>
                                        <td>北京</td>
                                        <td>合肥</td>
                                        <td>2019/6/28</td>
                                        <td>G23</td>
                                        <td>待处理</td>
                                        <td>二等座</td>
                                        <td>¥436.0</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">陈明</td>
                                        <td>上海</td>
                                        <td>青岛</td>
                                        <td>2019/6/09</td>
                                        <td>G226</td>
                                        <td>待处理</td>
                                        <td>二等座</td>
                                        <td>¥518.0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">李厚福</td>
                                        <td>深圳</td>
                                        <td>济南</td>
                                        <td>2019/6/12</td>
                                        <td>G280</td>
                                        <td>待处理</td>
                                        <td>二等座</td>
                                        <td>¥975.5</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">唐杰</td>
                                        <td>上海</td>
                                        <td>郑州</td>
                                        <td>2019/6/13</td>
                                        <td>G1810</td>
                                        <td>待处理</td>
                                        <td>二等座</td>
                                        <td>¥453.0</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">张志远</td>
                                        <td>北京</td>
                                        <td>深圳</td>
                                        <td>2019/6/07</td>
                                        <td>G79</td>
                                        <td>已出票</td>
                                        <td>二等座</td>
                                        <td>¥936.5</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">刘洁</td>
                                        <td>北京</td>
                                        <td>西安</td>
                                        <td>2019/6/02</td>
                                        <td>G673</td>
                                        <td>待处理</td>
                                        <td>二等座</td>
                                        <td>¥515.5</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">王海</td>
                                        <td>上海</td>
                                        <td>南京</td>
                                        <td>2019/6/03</td>
                                        <td>G126</td>
                                        <td>待处理</td>
                                        <td>二等座</td>
                                        <td>¥134.5</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">孙宇峰</td>
                                        <td>北京</td>
                                        <td>苏州</td>
                                        <td>2019/6/12</td>
                                        <td>G141</td>
                                        <td>已出票</td>
                                        <td>二等座</td>
                                        <td>¥523.5</td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">刘明</td>
                                        <td>北京</td>
                                        <td>香港</td>
                                        <td>2019/6/06</td>
                                        <td>G79</td>
                                        <td>已出票</td>
                                        <td>二等座</td>
                                        <td>¥1107</td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">高洁</td>
                                        <td>北京</td>
                                        <td>杭州</td>
                                        <td>2019/6/29</td>
                                        <td>G39</td>
                                        <td>已出票</td>
                                        <td>二等座</td>
                                        <td>¥538.5</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}
{% block js %}
    <script>
        /*
        FileReader共有4种读取方法：
        1.readAsArrayBuffer(file)：将文件读取为ArrayBuffer。
        2.readAsBinaryString(file)：将文件读取为二进制字符串
        3.readAsDataURL(file)：将文件读取为Data URL
        4.readAsText(file, [encoding])：将文件读取为文本，encoding缺省值为'UTF-8'
                     */
        var wb;//读取完成的数据
        var rABS = false; //是否将文件读取为二进制字符串

        function importf(obj) {//导入
            if (!obj.files) {
                return;
            }
            var f = obj.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = e.target.result;
                if (rABS) {
                    wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                        type: 'base64'
                    });
                } else {
                    wb = XLSX.read(data, {
                        type: 'binary'
                    });
                }
                //wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
                //wb.Sheets[Sheet名]获取第一个Sheet的数据
                //console.log("SheetNames",wb.SheetNames);
                //console.log("Sheets",wb.Sheets);
                var data_json = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
                var data_json1 = JSON.stringify(XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]));
                var data_json3 = JSON.stringify(XLSX.utils.sheet_to_html(wb.Sheets[wb.SheetNames[0]]));
                //console.log(data_json);
                //console.log(data_json1);
                //console.log(data_json3);
                document.getElementById("demo").innerHTML = JSON.stringify(data_json);

                for (var i in data_json) {
                    console.log(data_json[i]["姓名"])
                }


            };
            if (rABS) {
                reader.readAsArrayBuffer(f);
            } else {
                reader.readAsBinaryString(f);
            }
        }

        function fixdata(data) { //文件流转BinaryString
            var o = "",
                l = 0,
                w = 10240;
            for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
            o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
            return o;
        }

    </script>
{% endblock %}