{% extends "sb2/base.html" %}
{% block css %}
{% endblock %}
{% block content %}
    <style>
        .table-responsive {
            overflow-x: hidden;
            width: 80%;
        }

        .table-responsive {
            margin: 0 auto;
        }

        .modal-content {
            position: relative;
            width: 100%;
            height: 200px;
            background-color: white;
            border: 1px solid #6c6e7e;
        / / border-radius: 50 px;
        . box-shadow(0 3 px 9 px rgba(0, 0, 0, .5));
            background-clip: padding-box;
        }
    </style>
    <!-- 遮罩层 -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div style="margin: 30px">
                    <label> 验证码：<img src="/static/img/code.png">
                    </label>
                    <input id="code" type="text" class="form-control">
                    <br>
                    <button class="btn btn-success form-control" data-toggle="modal"
                            data-target=".bs-example-modal-sm" onclick="buy_trick($('#code').val())">确定
                    </button>

                </div>

            </div>
        </div>
    </div>
    <!-- 遮罩层 -->

    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">批量购票</h1>
        <p class="mb-4"></p>
        <form method="post" action="/trainticket_team/">
            <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS">
            <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
            <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
            <input type="hidden" name="form-MAX_NUM_FORMS" value="1000">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    {#                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
                </div>

                <div style="background: #f6f6f6; width: 100%; padding:30px; border-bottom: 1px solid #ccc;">
                    <div class="row col-center">
                        <div class="col-1"></div>
                        <div class="col-4">
                            <label for="upload" class="btn btn-success btn-lg btn-block"
                                   onclick="label_click(this)">上传</label>
                            <input id="upload" style="display: none" type="file"
                                   class="btn btn-success btn-lg btn-block"
                                   onchange="resolve_excel(this)"
                                   accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                            {#                        <button class="btn btn-success btn-lg btn-block">上传</button>#}
                        </div>
                        <div class="col-2"></div>
                        <div class="col-4">
                            <button class="btn btn-success btn-lg btn-block" onclick="submit()">开始购票
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1">
                        </div>
                        <div class="col-10">
                            支持文件类型：xls、xlsx ，文件内容请按照格式填写，文件格式请见<a href="#">示例</a>。<br>

                        </div>
                    </div>
                    <!-- Progress Small -->
                    <div class="card mb-4 hid">
                        <div class="card-body">
                            <div class="mb-1 small">购票进度</div>
                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4" style="margin: 0 auto;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable text-center" id="dataTable"
                                           width="100%"
                                           cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                           style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-sort="ascending"
                                                aria-label="Name: activate to sort column descending"
                                                style="width: 80px;">
                                                姓名
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Position: activate to sort column ascending"
                                                style="width: 80px;">出发地
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Office: activate to sort column ascending"
                                                style="width: 80px;">到达地
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 120px;">日期
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Age: activate to sort column ascending"
                                                style="width: 55px;">车次
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Start date: activate to sort column ascending"
                                                style="width: 55px;">状态
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Start date: activate to sort column ascending"
                                                style="width: 55px;">座次
                                            </th>
                                            {#                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"#}
                                            {#                                            colspan="1" aria-label="Salary: activate to sort column ascending"#}
                                            {#                                            style="width: 104px;">票价（元）#}
                                            {#                                        </th>#}
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Salary: activate to sort column ascending"
                                                style="width: 55px;">状态
                                            </th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        </tfoot>
                                        <tbody>
                                        </tbody>
                                    </table>


                                </div>
                                <!--
                                <div class="col-12">

                                    <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS">
                                    <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
                                    <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
                                    <input type="hidden" name="form-MAX_NUM_FORMS" value="1000"
                                           id="id_form-MAX_NUM_FORMS">
                                    <input type="text" name="form-0-id_card" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-name" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-fromstation" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-tostation" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-train" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-seat" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-starttime" class="col-1 form-control d-inline">
                                    <input type="text" name="form-0-phone" class="col-1 form-control d-inline">
                                    <input type="hidden" name="form-0-id" id="id_form-0-id">

                                </div>
                                -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    {{ data }}
    <!-- /.container-fluid -->
{% endblock %}
{% block js %}
    <script>
        let data_json = {};
        /*
        FileReader共有4种读取方法：
        1.readAsArrayBuffer(file)：将文件读取为ArrayBuffer。
        2.readAsBinaryString(file)：将文件读取为二进制字符串
        3.readAsDataURL(file)：将文件读取为Data URL
        4.readAsText(file, [encoding])：将文件读取为文本，encoding缺省值为'UTF-8'
                     */
        var wb;//读取完成的数据
        var rABS = false; //是否将文件读取为二进制字符串

        function importf(obj) {//导入
            if (!obj.files) {
                return;
            }
            var f = obj.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = e.target.result;
                if (rABS) {
                    wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                        type: 'base64'
                    });
                } else {
                    wb = XLSX.read(data, {
                        type: 'binary'
                    });
                }
                //wb.SheetNames[0]是获取Sheets中第一个Sheet的名字
                //wb.Sheets[Sheet名]获取第一个Sheet的数据
                data_json = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
                document.getElementById("demo").innerHTML = JSON.stringify(data_json);

            };
            if (rABS) {
                reader.readAsArrayBuffer(f);
            } else {
                reader.readAsBinaryString(f);
            }
        }

        function fixdata(data) { //文件流转BinaryString
            var o = "",
                l = 0,
                w = 10240;
            for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
            o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
            return o;
        }

        function label_click(that) {
            // 点击label后，清空 input，以修正 input 上传文件只能上传一次的问题。
            $(that).next().empty();
        }

        function resolve_excel(that) {
            // 解析 excel
            if (!that.files) {
                return;
            }
            var f = that.files[0];
            let f_suffix = f.name.split('.').pop();

            // 检测文件格式
            if (f_suffix != "xls" && f_suffix != "xlsx") {
                alert("文件格式错误");
                return
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = e.target.result;
                if (rABS) {
                    wb = XLSX.read(btoa(fixdata(data)), {//手动转化
                        type: 'base64'
                    });
                } else {
                    wb = XLSX.read(data, {
                        type: 'binary'
                    });
                }
                data_json = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
                // 清空当前表格
                $("#dataTable tr:gt(0)").remove();
                $("#id_form-TOTAL_FORMS").val(data_json.length);

                for (let i in data_json) {
                    let name = data_json[i]["姓名"];
                    let departure_station = data_json[i]["出发站"];
                    let arrival_station = data_json[i]["到达站"];
                    let date = data_json[i]["乘车日期"];
                    let train_number = data_json[i]["车次"];
                    let seat_number = data_json[i]["座次"];
                    let phone = data_json[i]["联系电话"];
                    let id_card = data_json[i]["身份证号"];
                    // 校验数据是否正确
                    if (name && departure_station && arrival_station && date && train_number && seat_number) {
                        $("#dataTable").append(
                            "<tr role='row' class='odd'>\n" +
                            "<td><input  class='form-control d-inline' type='text' name='form-" + i + "-name' value=" + name + "></td>\n" +
                            "<td><input class='form-control d-inline' type='text' name='form-" + i + "-fromstation' value=" + departure_station + "></td>\n" +
                            "<td><input class='form-control d-inline' type='text' name='form-" + i + "-tostation' value=" + arrival_station + "></td>\n" +
                            "<td><input class='form-control d-inline' type='text'  name='form-" + i + "-starttime' value=" + date + "></td>\n" +
                            "<td><input class='form-control d-inline' type='text' name='form-" + i + "-train' value=" + train_number + "></td>\n" +
                            "<td>已出票</td>\n" +
                            "<td><input class='form-control d-inline' type='text' name='form-" + i + "-seat' value=" + seat_number + "></td>\n" +
                            "<td class='hid'><input class='form-control d-inline hid' type='text' name='form-" + i + "-phone' value=" + phone + "></td>\n" +
                            "<td class='hid'><input class='form-control d-inline hid' type='text' name='form-" + i + "-id_card' value=" + id_card + "></td>\n" +
                            //"<td>¥1107</td>\n" +
                            "<td class='icon_state'><i class='fa fa-spinner'></i></td>\n" +
                            "</tr>"
                        );
                    } else {
                        alert(" 数据错误 ");
                        break;
                    }

                }


            };

            if (rABS) {
                reader.readAsArrayBuffer(f);
            } else {
                reader.readAsBinaryString(f);
            }
        }

        function buy_trick(code) {


            // max - 期望的最大值
            // min - 期望的最小值
            let max = 8000;
            let min = 2000;
            console.log(parseInt(Math.random() * (max - min + 1) + min, 10));
            $(".icon_state").each(function () {
                    let that = this;
                    console.log(this);
                    setTimeout(function () {
                        console.log($(that).html("<i class='fa fa-check'></i>"));
                    }, parseInt(Math.random() * (max - min + 1) + min, 10));
                }
            );


            console.log(code);
            $.ajax({
                url: "/trainticket_team/",
                type: "POST",
                {#headers: {'x-CSRFtoken': $.cookie('csrftoken')},#}
                data: {
                    info: JSON.stringify(data_json),
                    code: code
                },
                success: function (data) {
                    console.log(data);
                    alert(data);
                }
            });
        }

    </script>
{% endblock %}